*,
*::before,
*::after {
    box-sizing: border-box;
}
fbody {
    font-family: 'Oswald', sans-serif;
    color: #3D3D40;
}
header {
    background-color: #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}
.content{
    margin-top: 50px;
}
header div {
    display: flex;
    align-items: center;
    width: 200px;
}
header img {
    transform: scaleX(-1);
    width: 95px;
}
header a {
    text-decoration: none;
}
header h1 {
    font-weight: bold;
    font-size: 16px;
    color: #404040;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    width: 100px;
    transition: color 0.3s;
}
header div:hover h1 {
    color: #3BA0FF;
}
header nav {
    display: flex;
}
header nav a {
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0C0F63;
    font-size: 18px;
    transition: color 0.3s;
}
header nav a:hover {
    color: #3BA0FF;
}
header section {
    display: flex;
    width: 200px;
    justify-content: center;
}
header #sign-in {
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    font-size: 14px;
    border: 1px solid black;
    padding: 0.5em 1em;
}


body {
    margin: 0;
    padding: 0;
    font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    background: #3b4465;
}

.forms-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 32px;
    letter-spacing: 1px;
    color: #fff;
}

.forms {
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
}

.form-wrapper {
    animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
    animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
    50% {
        z-index: 1;
    }
    100% {
        z-index: 1;
    }
}

@keyframes hideLayer {
    0% {
        z-index: 1;
    }
    49.999% {
        z-index: 1;
    }
}

.switcher {
    position: relative;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: .5px;
    color: #999;
    background-color: transparent;
    border: none;
    outline: none;
    transform: translateX(0);
    transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
    color: #fff;
    transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
    color: #fff;
    transform: translateX(-90px);
}

.underline {
    position: absolute;
    bottom: -5px;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    height: 2px;
}

.underline::before {
    content: '';
    position: absolute;
    top: 0;
    left: inherit;
    display: block;
    width: inherit;
    height: inherit;
    background-color: currentColor;
    transition: transform .2s ease-out;
}

.switcher-login .underline::before {
    transform: translateX(101%);
}

.switcher-signup .underline::before {
    transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
    transform: translateX(0);
}

.form {
    overflow: hidden;
    min-width: 260px;
    margin-top: 50px;
    padding: 30px 25px;
    border-radius: 5px;
    transform-origin: top;
}

.form-login {
    animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
    animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
    0% {
        background: #d7e7f1;
        transform: translate(40%, 10px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        background-color: #fff;
        transform: translate(35%, -20px);
    }
}

@keyframes hideLogin {
    0% {
        background-color: #fff;
        transform: translate(35%, -20px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        background: #d7e7f1;
        transform: translate(40%, 10px);
    }
}

.form-signup {
    animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
    animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
    0% {
        background: #d7e7f1;
        transform: translate(-40%, 10px) scaleY(.8);
    }
    50% {
        transform: translate(0, 0) scaleY(.8);
    }
    100% {
        background-color: #fff;
        transform: translate(-35%, -20px) scaleY(1);
    }
}

@keyframes hideSignup {
    0% {
        background-color: #fff;
        transform: translate(-35%, -20px) scaleY(1);
    }
    50% {
        transform: translate(0, 0) scaleY(.8);
    }
    100% {
        background: #d7e7f1;
        transform: translate(-40%, 10px) scaleY(.8);
    }
}

.form fieldset {
    position: relative;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: all .3s ease-out;
}

.form-login fieldset {
    transform: translateX(-50%);
}

.form-signup fieldset {
    transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
    opacity: 1;
    transform: translateX(0);
    transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.input-block {
    margin-bottom: 20px;
}

.input-block label {
    font-size: 14px;
    color: #a1b4b4;
}

.input-block input {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 40px;
    color: #3b4465;
    background: #eef9fe;
    border: 1px solid #cddbef;
    border-radius: 2px;
}

.form [type='submit'] {
    opacity: 0;
    display: block;
    min-width: 120px;
    margin: 30px auto 10px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
    opacity: 1;
    transform: translateX(0);
    transition: all .4s ease-in;
}

.btn-login {
    color: #fbfdff;
    background: #0C0F63;
    transform: translateX(-30%);
}

.btn-signup {
    color: #0C0F63;
    background: #fbfdff;
    box-shadow: inset 0 0 0 2px #0C0F63;
    transform: translateX(25%);
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

.socialbutton
{
    width:345px;
    height:70px;
    margin:11px auto;
    border-radius:3px;
    position:relative;
    cursor:pointer;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#gplus
{
    background:#f2553b;
    border-bottom:2px solid #a62518;
}

#twitter
{
    background:#00a7fd;
    border-bottom:2px solid #1172b7;
}

#facebook
{
    background:#3b5998;
    border-bottom:2px solid #233d73;
}

.fa
{
    font-size:2.5em;
}

.fa-gplus{color:#aa2619; border-right:1px solid #d4382b}
.fa-ter{color:#137ac2;border-right:1px solid #0c80ca}
.fa-fb{color:#2c457b;border-right:1px solid #2f4a83}

.icons
{
    text-align:center;
    width:60px;
    padding:6px;
    position:absolute;
    margin-top:10px;
}

.signtext
{
    color:#fff;
    font-family:Roboto;
}

.signtext
{
    color:#fff;
    font-family:Roboto;
    font-size:1.3em;
    position:absolute;
    left: 100px;
    top: 21px;
}

.socialbutton:hover
{
    box-shadow: 0px 10px 5px -10px #000;
    -webkit-transform:scale(1.01);
    -moz-transform:scale(1.01);
    -o-transform:scale(1.01);
    -ms-transform:scale(1.01);
    transform:scale(1.01);
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
}

